<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        body{
            background-color: black;
        }
    </style>
</head>

<body>
    <div class="container bg-light  mx-auto mt-5 p-2 rounded">
        <h1 class="text-center">HEPI LAUNDRY</h1>
        <hr>
        {% csrf_token %}
        <form>
            <div class="border border-primary rounded mb-2 p-2">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" name="name" id="nama" class="form-control" placeholder="Nama">
                        </div>
                        <div class="form-group">
                            <input type="text" name="alamat" id="alamat" class="form-control" placeholder="Alamat">
                        </div>
                        <div class="form-group">
                            <input type="text" name="telepon" id="telepon" class="form-control" placeholder="Telepon">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tglSelesai" id="tglSelesai" class="form-control" placeholder="Tanggal Selesai">

                        </div>
                        <div class="form-group">
                            <label for="layanan">Layanan : </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input form-check-inline" type="radio" name="layanan" id="biasa"
                                    value="biasa" checked>
                                <label class="form-check-label" for="biasa">Biasa</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layanan" id="express" value="express">
                                <label class="form-check-label" for="express">Express</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="jumTotal">Jumlah Total</label>
                                <span name="jumTotal"><b> 58.000</b></span>
                            </div>
                            <div class="col">
                                <input class="btn btn-primary" type="button" value="Bayar" id="bayar" name="bayar">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="border border-primary rounded mb-2 p-2">
                <div class="row text-center ">
                    <div class="col">
                        <label for="berat">Berat/Jumlah</label>
                        <input type="text" name="berat" id="berat" class="form-control text-center" value=0>
                        <input type="text" name="jumlah" id="jumlah" class="form-control text-center">
                    </div>
                    <div class="col-sm-4">
                        <label for="layanan">Jenis Layanan</label>
                        <select name="layanan" id="layanan" class="form-control">
                            <option value="0">Pilih Layanan </option>
                            {% for jenis in layanan %}

                            <option value={{jenis.pk}}>{{jenis.nama}} </option>

                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="keterangan">Keterangan</label>
                        <textarea name="keterangan" id="keterangan" cols="30" class="form-control"></textarea>
                    </div>
                    <div class="col">
                        <label for="tambah">&nbsp;</label>
                        <input class="btn btn-primary" type="button" value="Tambah" id="tambah" name="tambah">
                    </div>
                </div>
            </div>

            <div class="border border-primary rounded d-block p-3">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Jumlah</th>
                            <th scope="col" class="w-50">Nama Barang</th>
                            <th scope="col" class="w-25">Harga @</th>
                            <th scope="col" class="w-25">Total (Rp.)</th>
                            <th scope="col" class="w-25">Keterangan</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>
                    
                    </tbody>
                </table>
                <hr>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>



    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                cache: false
            });
        });


        $(function () {
            let jumlahTotal = 0;

            $('#tambah').click(function () {

                if (cekData()) {
                    ambilHarga();
                    bersihkanData();
                }
            });

            $("tbody").on("click", ".hapus", function (e) {
                e.preventDefault();
                $(this).parents("tr").remove();
                return false;
            });

            $('#berat').focus(function(){
                $(this).select();
            });

            $('#berat').focusout(function(){
                berat = $(this).val();
                if($.isNumeric(berat)){
                    return false;
                }else{
                    alert('Nilai harus berupa angka > 0');
                    $(this).val('0');
                    $(this).focus();
                    $(this).select();
                    return true;
                }
            });


            $(" #tglSelesai").datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '-3d',
                    minDate: 0,
                    maxDate: +7
                }

            );

        });

        bersihkanData = () => {
            $('#berat').val(0);
            $('#layanan').val(0);
            $('#keterangan').val('');
            $('#berat').focus();
        }


        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function insertData(pk, nama_jasa, vol, harga, total) {

            $('tbody').append('<tr> ' +
                '<th scope="row">' + vol + '</th>' +
                '<td>' + nama_jasa + '</td>' +
                '<td class="text-right">' + harga.toLocaleString() + '</td>' +
                '<td class="text-right">' + total.toLocaleString() + '</td>' +
                '<td>' + $('#keterangan').val() + '</td>' +
                '<td><span><input type="button" class="hapus btn btn-danger btn-sm" ' +
                'value="x" data-toggle="tooltip" data-placement="top" title="Hapus data" ></span></td>' +
                '</tr>'
            );
        }

        function hitungTotal(pk, nama_jasa, vol, harga) {
            var total = vol * harga;
            insertData(pk, nama_jasa, vol, harga, total);
            return total;
        }

        function cekData() {
            let vol = $('#berat').val();
            let jasa = $('#layanan').val();

            if (vol === '' | vol < 1) {
                alert('Volume belum dimasukkan');
                $('#volume').focus();
                return false;
            } else if (jasa < 1) {
                alert('Jenis layanan belum dipilih');
                $('#layanan').focus();
                return false;
            } else {
                return true;
            }
        }




        function ambilHarga() {
            var harga;
            var nama_jasa;
            let vol = $('#berat').val();
            let jasa = $('#layanan').val();
            $.ajax({
                type: "POST",
                url: "/layanan/cari/",
                dataType: 'text',
                data: {
                    'pk': jasa,
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                success: function (data) {
                    harga = $.parseJSON(data)[0].fields.biaya;
                    nama_jasa = $.parseJSON(data)[0].fields.nama;
                    hitungTotal(jasa, nama_jasa, vol, harga);
                    return true;

                },
                error: function () {
                    console.log('error');
                    return false;
                }

            });

        }
    </script>

</body>

</html>